body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.body {
    display: flex;
    flex-direction: column;
}

.header .logo-text
,.footer {
    font-size: 24px;
    color: #f9faf8;
}

.header
,.filler
,.hero
,.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 750px;
}

.logo {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 75px 750px;
}

.hero .main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    flex-wrap: wrap;
}

.hero .secondary
,a {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border-color: #f9faf8;
    width: 150px;
    height: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 750px;
}

.info-belts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.info-belts-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.belt {
    width: 100px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 25px;
}

.bjj {
    width: 400px;
    height: auto;
}

.quote {
    padding: 75px 750px;
    background-color: #e5e7eb;
}

.quote-content {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-source {
    text-align: right;
}

.signup {
    padding: 60px 750px;
}

.signup-box {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: #f9faf8;
    height: 100px;
}

.signup-box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call {
    font-size: 18px;
    font-weight: 800;
    color: #f9faf8;
}

.call-signup {
    color: #e5e7eb;
}

.signup-box-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 24px;
}